p {
    color: rgb(81, 155, 173);
}

.highlight {
    background-color: rgb(4, 23, 95);
}

#unique-section {
    border: 2px solid rgb(80, 124, 179);
    padding: 10px;
}

a[href] {
    text-decoration: none;
    color: rgb(41, 65, 172);
}

* {
    font-family: 'Times New Roman', Times, serif;
}